@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --primary-color: #fff;
    --primary-shade: #f7f5f2;
    --seconday-color: #000;
    --secondary-shade: #4b4c4c;
    --green-color: #055b5c;
    --green-shade: #08979d;
    --accent-color: #08979d;
}


ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    background: #4da8b6;
    background: linear-gradient(90deg, #957dad 0%, #cdb3d4 35%, #e7b7c8 100%);
    background: linear-gradient(to right,#b7adff, #bdb4ff , #c5bef9);
    color: var(--primary-color);
}
.nav-bar {
    padding: 30px 0;
}

span{
    color: var(--green-color);
}

ul li a{
    margin: 0 10px;
    padding: 0 5px;
    color: var(--accent-color);
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

ul li a::before{
    content: '';
    width: 0;
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: 0.6s ease;
}

ul li a:hover::before{
    width: 100%;
}

.content{
    height: 90vh;
    position: relative;
}
.right img{
    width: 115%;
    position: relative;
    z-index: 999;
    cursor: pointer;
    transition: 0.3s ease;
}
.right img:hover{
    filter: drop-shadow(16px 5px 20px #d498c6);
}
h4, p{
    font-family: 'Poppins', sans-serif;
}
.color-box{
    width: 490px;
    height: 410px;
    border: 5px solid #055b5c;
    transform: rotate(48deg);
    position: absolute;
    top: 120px;
    right: 10px;
}


.about-me-sec{
    min-height: 75vh;
    background-color: #c5bef9;
    color: var(--primary-color);
}

.about-me-sec hr{
    border: 2px solid #055b5c;
    margin-bottom: 2rem;
}
.about-content img{
    width: 100%;
   margin-left: 75px;
}
.about-content ul{
    margin-top: 25px;
    margin-bottom: 10px;
}

.about-content ul span{
    color: #08979d;
}


.project-sec{
    height: 80vh;
    margin-bottom: 50px;
    background-color: #d8bcab;
}
.projects > h3{
    color: var(--primary-color);
    margin-bottom: 20px;
}
.project-child img{
    width: 80%;
    
}

.project-parent{
    gap: 90px;
}

.project-child{
    border: 2px solid var(--green-color);
    border-radius: 8px;
    transition: 0.3s ease;
    cursor: pointer;
}

.project-child:hover{
    transform: scale(1.1);
    background-color: lavender;
}

.project-child h3{
    margin-top: 10px;
}

.project-child p{
    margin-top: 5px;
    line-height: 1.1;
    text-align: center;
    padding-left: 11px;
    padding-bottom: 11px;
}
.resume-sec {
    height: 150vh;
    margin-bottom: 50px;
    margin-top: -3.5rem;
    background-color: #b7adff;
    color: var(--primary-color);
}
.resume h3{
    color: var(--primary-color);
    margin-bottom: 1px;
}
.resume-img img{
    width: 100vh;
    height: 130vh;
    z-index: 999;
    cursor: pointer;
    transition: 0.3s ease;
}
.resume-img img:hover{
    filter: drop-shadow(16px 5px 20px #d498c6);
}




@media (max-width:768px){
header{
    width: 150vh;
}
    .nav-bar{
        flex-direction:row;
        position: relative;
        width: 1vh;
        height: 20vh;
       
    }
 .nav-links ul{
    display: flex;
    flex-direction:row;
    gap: 12px;
 }
 .nav-links ul, .logo{
    display:row;
 }
.about-me-sec{
    width: 150vh;
}
 .color-box{
    display: none;
 }
.resume-sec{
    width: 150vh;
}
 .content{
    flex-direction: row;
    gap: 12px;
    width: 100%;
 }

 .menu-btn i{
    display: block;
   
 }
 .img{
display:block;
margin-right: 2rem;
 }
 .project-sec{
    height: 120vh;
    width: 150vh;
 }

 .menu-btn{
    position: absolute;
    top: 30px;
    right: 10px;
 }    
}